.main-container {
	margin-top: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 90vh;
}

.container {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	padding: 50px;
	border-radius: 20px;
	width: 360px;
	text-align: center;
	overflow: hidden;
	font-family: cursive;
}
.container::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 20px;
	pointer-events: none;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.3) 0%,
		rgba(255, 255, 255, 0.1) 15%,
		transparent 50%,
		transparent 85%,
		rgba(255, 255, 255, 0.3) 100%
	);
}

h2 {
	margin-bottom: 20px;
	color: #83cab2;
	font-size: 24px;
}

.form-group {
	margin-bottom: 25px;
	text-align: left;
}

label {
	display: block;
	margin-bottom: 10px;
	color: #83cab2;
	font-weight: bold;
}

input,
textarea {
	width: 100%;
	padding: 12px;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 10px;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

input:focus,
textarea:focus {
	background-color: white;
}

textarea {
	resize: vertical;
}
.btn {
	font-family: "Quicksand", sans-serif;
	padding: 10px 25px;
	font-size: 1.2rem;
	font-weight: bold;
	color: #dfdf;
	background-color: #233831;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
	background-color: #18a558;
	transform: scale(1.05);
}
@media (max-width: 500px) {
	.container {
		width: 90%;
	}
}
.talk h2 {
	font-size: 2rem;
	font-family: cursive;
	font-weight: 700;
	color: #dfdf;
	max-width: 500px;
}
.lil-para {
	font-size: 1rem;
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	color: #dfdfdf;
	line-height: 1.6;
}
.promt {
	display: flex;
	align-items: center;
}
.info p {
	font-size: 1rem;
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	color: #dfdfdf;
	margin: 5px;
}
.sec-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70vh;
	padding: auto;
	margin-bottom: 100px;
}
.social h3 {
	font-size: 1.2rem;
	font-family: cursive;
	font-weight: 700;
	color: #dfdf;
	max-width: 500px;
}
.social p {
	font-size: 1rem;
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	color: #dfdfdf;
	margin: 5px;
}
.box {
	position: relative;
	padding: 50px;
	width: 360px;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.box ul li img {
	align-items: center;
	padding-bottom: 5px;
	height: 35px;
	width: 35px;
}
.box ul li a {
	font-family: cursive;
	font-size: 1.2rem;
	color: #dfdfdf;
	text-decoration: none;
	padding-left: 5px;
}
.box ul li a:hover {
	text-decoration: underline;
	color: lightblue;
}
.box ul li {
	list-style: none;
	margin-bottom: 5px;
	padding-left: 5px;
	color: #dfdfdf;
	line-height: 1.6;
}
.box div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.chat button {
	display: inline-block;
	font-family: "Quicksand", sans-serif;
	padding: 10px 25px;
	font-size: 1.2rem;
	font-weight: bold;
	color: #dfdf;
	background-color: #233831;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	margin: 10px;
	transition: background-color 0.3s ease, transform 0.2s ease;
}
.chat button:hover {
	background-color: #18a558;
	transform: scale(1.05);
}
